.app-bg {
  background: #22242A;
  min-height: 100vh;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 75vh;
  padding-top: 8vh;
}

.message-block {
  background: #282c34;
  color: #fafafa;
  padding: 1rem;
  border-radius: 8px;
  text-align: left;
  font-family: monospace;
  width: 95%;
  max-width: 800px;
  position: relative;
  margin-top: 1rem;
}
.message-pre {
  margin: 0;
  word-break: break-all;
  font-size: 1rem;
}
.copy-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.3rem 0.7rem;
  background: #3B4252;
  color: #fafafa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.95rem;
}
.markdown-block {
  font-family: inherit;
  font-size: 1rem;
  word-break: break-word;
}
.markdown-block h2, .markdown-block h1, .markdown-block h3 {
  color: #eee;
  margin: 1.2rem 0 0.8rem 0;
}
.markdown-block table {
  width: 100%;
  border-collapse: collapse;
}
.markdown-block th, .markdown-block td {
  border: 1px solid #555;
  padding: 0.25rem 0.5rem;
}
.markdown-block th {
  color: #e3dede;
  background: #222;
}
.markdown-block td {
  color: #d9d8dd;
  background: #232330;
}
